.page-header {
  margin: 0 auto;
  min-width: 320px;
}

@media (min-width: $tablet-width) {
  .page-header {
    margin: 0 auto;
    min-width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    margin: 0 auto;
    min-width: 1150px;
  }
}
