.catalog-popup {
  position: fixed;
  padding: 36px 30px 46px;
  left: 50%;
  margin-left: -160px;
  top: 50%;
  margin-top: -168px;
  background-color: #ffffff;
  box-sizing: border-box;
  width: 320px;
  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
  border: 1px solid #c6c6c6;
}

.catalog-popup__closed {
  display: none;
}

.catalog-popup__title {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  padding: 0 55px;
  margin: 0;
}

.catalog-popup__size {
  font-size: 15px;
  color: #444444;
}

.catalog-popup__size-list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.catalog-popup__option-radio {
  display: block;
  box-sizing: border-box;
  font-size: 17px;
  font-weight: bold;
  padding: 16px 0;
  border: 2px solid #ececec;
  line-height: 1;
  cursor: pointer;
  height: 52px;
  width: 82px;

  &:hover {
    border: 2px solid #444444;
  }
}

.catalog-popup__input-radio:checked + .catalog-popup__option-radio {
  border: 2px solid #62d1ba;
}

.catalog-popup__input-radio {
  display: none;
}

.catalog-popup__order {
  width: 100%;
  margin: 0;
  border: 0;
  background-color: $seafoam-blue;
  color: #ffffff;
  margin-top: 31px;
}

@media (min-width: $tablet-width) {
  .catalog-popup {
    padding: 51px 100px 46px;
    margin-left: -283px;
    width: 566px;
  }

  .catalog-popup__title {
    font-size: 30px;
    padding: 0;
  }

  .catalog-popup__option-radio {
    width: 112px;
  }
}
