$gray:             #ececec;
$seafoam-blue:     #63d1bb;
$greeny-blue:      #56c3b2;
$blue-green:       #149080;
$black:            #000000;
$grayish-brown:    #444444;
$main-color:       #ffffff;
$gray-light:       #f1f1f1;
$grayish-light:    rgba(68, 68, 68, 0.3);

$tablet-width:     768px;
$desktop-width:    1150px;

$retina-dppx:      1.5dppx;
